  <!-- Modal -->
    <div class="modal fade" id="modalAgregarPedido" tabindex="-1" aria-labelledby="modalPedidoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1a1a1a;">
          <form method="POST" action="{% url 'pedido_mesa:crear' %}">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="modalPedidoLabel" >Nuevo Pedido</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              {{ form.as_p }}  <!-- Esto renderiza el formulario que pasas desde la vista -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Generar</button>
            </div>
          </form>
        </div>
      </div>
    </div>