<!-- Pedidos -->
<div class="pedidos">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarPedido">
        ➕ Agregar Pedido
  </button>

  <div>
    {% if request.session.Pedido.item %}
      {% for key, value in request.session.Pedido.items %}
        <tr class="text-center">
          <td>{{value.titulo}}</td>
          <td>{{value.cantidad}}</td>
          <td>{{value.precio_unitario}}</td>
          <td>{{value.titulo}}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan ="4">
          <div class= "alert alert-danger text-center">Sin productos</div>
        </td>
      </tr>

    {% endif %}
  </div>

  <!-- Pedidos en base de datos -->
    {% for pedido in pedidos %}
      <div class="pedido" id={{pedido.id}}>
        <div class="pedido-header">
          <td>🪑{{pedido.mesa}}</td>
          <td>📆 Fecha: {{pedido.updated}} </td>
          <button class="btn-toggle" onclick="togglePedido(this)">−</button>
      </div>
      <div class="pedido-content">
        <table>
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody class="pedido-body">
            {% for producto in pedido.productos.all %}
              {% if pedido.id == producto.pedido_id %}
                <tr>
                  <td>{{producto.producto}}</td>
                  <td>
                    <a class="btn btn-outline-success" href="{% url 'pedido_mesa:restar_cantidad' producto.id %}">-</a>
                    {{producto.cantidad}}
                    <a class="btn btn-outline-success" href="{% url 'pedido_mesa:incrementar_cantidad' producto.id %}">+</a>
                  </td>
                  <td>{{producto.precio_unitario}}</td>
                  <td>{{producto.subtotal}}</td>
                </tr>
              {% endif %}
            {% endfor %} 
          </tbody>
        </table>
        <button class="btn btn-outline-success btn-agregar-producto" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">➕ Agregar Producto</button>
        <button class="btn btn-outline-success btn-agregar-pago" data-bs-toggle="modal" data-bs-target="#modalAgregarMetodoPago">➕ Metodo Pago</button>

        <div class="total">💰 Total: $ {{ pedido.total_productos }} </div>
        <div class="cancelado">🧾 Cancelado:${{pedido.total_pagado | default:0}} </div> 
        <div class="metodo-pago">💲 Pago: 
          {% for metodo_pago_pedido in metodos_pago_pedido %}
            {% for metodo_pago in metodos_pago %}
              {% if pedido.id == metodo_pago_pedido.pedido_id and metodo_pago.id == metodo_pago_pedido.metodo_pago_id %}
                <!--{{metodo_pago.titulo}} -->
                <img  src="{{metodo_pago.imagen.url}}" style="width:5%">
                $:{{metodo_pago_pedido.valor}}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>  
    </div>
    {% endfor %}
  
  {% include "complementos/crear_pedido.html" %}
  {% include "complementos/modal_agregar_producto.html" %}
  {% include "complementos/modal_agregar_metodo_pago.html" %}

</div>


<script> //JavaScrip para minimizar/maximizar cada pedido
    function togglePedido(btn) {
      const content = btn.closest('.pedido').querySelector('.pedido-content');
      if (content.style.display === 'none') {
        content.style.display = 'block';
        btn.textContent = '−';
      } else {
        content.style.display = 'none';
        btn.textContent = '+';
      }
    }
    // Minimiza todos los .pedido-content al cargar la página
    /*document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.pedido-content').forEach(function(content) {
        content.style.display = 'none';
      });
      document.querySelectorAll('.btn-toggle').forEach(function(btn) {
        btn.textContent = '+';
      });
    });*/
     //JavaScrip para enviar el id del pedido para el modal
    document.querySelectorAll('.btn-agregar-pago').forEach(function(boton) {
      boton.addEventListener('click', function() {
        // Encuentra el div más cercano con clase 'pedido'
        const divPedido = this.closest('.pedido');   
        if (divPedido) {
          const pedidoId = divPedido.id; 
          console.log("ID del pedido:", pedidoId);
          const inputHidden = document.getElementById("input-pedido-id");
        if (inputHidden) {
          inputHidden.value = pedidoId;
          console.log("Asignado al input:", inputHidden.value);
        } else {
          console.warn("No se encontró el input con ID 'input-pedido-id'");
        }

        }
      });
    });
    document.querySelectorAll('.btn-agregar-producto').forEach(function(boton) {
      boton.addEventListener('click', function() {
        // Encuentra el div más cercano con clase 'pedido'
        const divPedido = this.closest('.pedido');   
        if (divPedido) {
          const pedidoId = divPedido.id; 
          console.log("ID del pedido:", pedidoId);
          const inputHidden = document.getElementById("input-pedido-producto-id");
        if (inputHidden) {
          inputHidden.value = pedidoId;
          console.log("Asignado al input:", inputHidden.value);
        } else {
          console.warn("No se encontró el input con ID 'input-pedido-id'");
        }

        }
      });
    });
</script>
 